{% extends 'base.html.twig' %}

{% block title %}Register &middot; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container bg-light py-3 mt-5">
        <h1>Register</h1>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        {{ form_end(registrationForm) }}
        <a class="btn btn-secondary" href="{{ path('app_login') }}">Already registered? Login!</a>
    </div>
{% endblock %}
