<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg bg-white">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <a class="navbar-brand" href="{{ path('app_home') }}">SnowTricks</a>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}#tricks">Tricks</a>
                        </li>
                        {% if not is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% for label, messages in app.flashes %}
            <div class="container position-fixed position-relative top-0 start-50 translate-middle-x mt-5" style="z-index: 1100;">
            {% for message in messages %}
                {{ component('toast', {
                    type: label,
                    message: message
                }) }}
            {% endfor %}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        <hr class="mt-0">
        <footer class="container py-4">
            <p class="text-muted">Copyright &copy; {{ date('now')|date('Y') }}</p>
        </footer>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
