{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }} &middot; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container bg-light px-0 pb-3 mt-5">
        <div class="position-relative">
            {{ component('featured_image', {
                trick: trick
            }) }}
            <div class="position-absolute top-0 end-0 mt-3 me-2">
                {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-secondary" href="{{ path('app_trick_edit', {'id': trick.id}) }}"><i class="bi bi-pen"></i></a>
                    {{ component('delete_trick_modal', {
                        trick: trick,
                        isButton: true
                    }) }}
                {% endif %}
            </div>
            <h1 class="display-1 position-absolute top-50 start-50 translate-middle bg-body bg-opacity-50 rounded px-3 py-1 shadow">{{ trick.name }}</h1>
        </div>
        <div class="mt-3 px-3">
            <div class="d-flex row-cols-1 row-cols-lg-6 gap-2 overflow-auto mb-3">
                {% for medium in trick.media %}
                    {% if medium.file is defined %}
                        <div>
                            <img class="img-fluid" src="{{ asset('uploads/images/' ~ medium.file) }}" alt="">
                        </div>
                    {% endif %}
                {% endfor %}
                {% for medium in trick.media %}
                    {% if medium.youtube is defined %}
                        <div class="img-fluid">
                            {{ component('youtube', {video: medium }) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <p class="p-lg-5">{{ trick.description|nl2br }}</p>
            <div class="px-lg-5 mx-auto">
                <div class="text-center">
                    <ul class="list-inline me-auto">
                        <li class="list-inline-item badge text-bg-secondary">Created at {{ trick.createdAt|date() }}</li>
                        {% if trick.updatedAt != trick.createdAt %}
                        <li class="list-inline-item badge text-bg-secondary">Updated at {{ trick.updatedAt|date() }}</li>
                        {% endif %}
                        <li class="list-inline-item">Group :</li>
                        {% for tag in trick.tags %}
                        <li class="list-inline-item badge rounded-pill text-bg-secondary">{{ tag.name }}</li>
                        {% else %}
                        <li class="list-inline-item badge rounded-pill text-bg-secondary">No group</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                {% if is_granted('ROLE_USER') %}
                    {{ render(path('app_message_new', {id: trick.id})) }}
                {% endif %}
                <div>
                    {% set messagePerPage = 10 %}
                    {% for message in trick.messages|slice((page - 1) * messagePerPage, messagePerPage) %}
                    <div class="card border-0 bg-transparent mb-3">
                        <div class="row g-0">
                            <div class="col-2 col-md-1 pt-3 px-1">
                                {% if message.author.image %}
                                <img src="{{ asset('uploads/images/' ~ message.author.image) }}" class="img-fluid ratio ratio-1x1 rounded-circle" alt="{{ message.author.username }}">
                                {% else %}
                                <img src="{{ asset('images/unknown_person.png') }}" class="img-fluid ratio ratio-1x1 rounded-circle" alt="{{ message.author.username }}">
                                {% endif %}
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title">{{ message.author.username }}</h5>
                                    <p class="card-text">{{ message.content|nl2br }}</p>
                                    <p class="card-text"><small class="text-muted">{{ message.createdAt|date() }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <p class="text-center text-muted fst-italic">No discussion has begun here.</p>
                    {% endfor %}
                    {% if trick.messages|length > messagePerPage %}
                        <nav class="mt-3" aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('app_trick_show', {slug: trick.slug, page: page - 1}) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for pageNumber in 1..(trick.messages|length / messagePerPage)|round(0, 'ceil') %}
                                    <li class="page-item"><a class="page-link" href="{{ path('app_trick_show', {slug: trick.slug, page: pageNumber}) }}">{{ pageNumber }}</a></li>
                                {% endfor %}
                                {% if page * messagePerPage < trick.messages|length %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('app_trick_show', {slug: trick.slug, page: page + 1}) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ component('delete_trick_modal', {
        trick: trick
    }) }}
{% endblock %}
